*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(5, 5, 48, 0.944);
}
.container{
    width: 500px;
    text-align: center;
    background-color: beige;
    border-radius: 6px;
    padding: 12px;
    color: rgb(3, 3, 27) ;
    box-shadow: 9px 7px 1px rgba(0, 0, 0, 0.1) ;
}
.container h1{
    font-size: 29px;
    margin-bottom: 10px;
}
.container input{
    padding: 9px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #333;
    transition: all 0.3s ease;
    margin-bottom: 7px;
}
.container input:focus{
    border: 2px solid rgb(3, 3, 27) ;
}
.container input::placeholder{
    font-size: 17px;
    padding-left: 8px 10px;

}
.container button{
     padding: 7px;
     border-radius: 5px;
     transition: all 0.3s ease;
     border: none;
     background-color: rgb(3, 3, 27);
     color: #fff;
     font-weight: bold;
     font-size: 17px;
     cursor: pointer;
     box-shadow: 2px 2px 1px rgba(3, 3, 27, 0.7) ;
}
.container button:active{
    transform: scale(0.92);
}

.container button:hover{
     box-shadow: 2px 2px 1px rgba(3, 3, 27, 0.7) ;
    color: rgb(3, 3, 27);
    background-color: #fff;
    border: 2px solid rgb(3, 3, 27) ;
    font-weight: bold;
}
